body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url('../assets/wallpaper.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: opacity 0.5s ease;
}

body::after {
    content: '';
    position: absolute;
    inset: 0;
    background: url('../assets/Wallpaper_mern.webp');
    opacity: 0; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: opacity 0.5s ease; 
}

body.signup::after {
    opacity: 1; 
}

.container {
    position: relative; 
    width: 350px;
    height: 340px;
    border-radius: 15px;
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.972);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: height 0.5s ease;
    overflow: hidden;
}

body.signup .container {
    height: 440px;
}

.container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--b), #6745ff 0%, #6745ff 10%, transparent 10%, transparent 80%, #6145ff 100%);
    border-radius: 20px;
    animation: animate 2.5s linear infinite;
}

body.signup .container::before {
    filter: hue-rotate(140deg);
}

@property --b {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate {
    0% {
        --b: 0deg;
    }
    100% {
        --b: 360deg;
    }
}

.container span {
    position: absolute;
    inset: 5px;
    overflow: hidden;
    border-radius: 15px;
}

.container span::before, .container span::after {
    content: '';
    position: absolute;
    inset: 5px;
    background: url('../assets/wallpaper.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

body.signup .container span::before,
body.signup .container span::after {
    background: url("../assets/Wallpaper_mern.webp");
}

form {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    transition: left 0.5s ease;
}

form#signupForm {
    left: 100%;
}

body.signup form#signinForm {
    left: -100%;
}

body.signup form#signupForm {
    left: 0;
}

form h2 {
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
}

form .inputBox {
    position: relative;
    width: 70%;
}

form .inputBox a {
    color: #fff;
    text-decoration: none;
    font-size: 0.85em;
}

form .inputBox a:nth-child(2) {
    text-decoration: underline;
}

form .inputBox input {
    width: 100%;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(0, 0, 0, 0.15);
    padding: 6px 15px;
    border-radius: 4px;
    font-size: 0.85em;
    color: #fff;
}

form .inputBox input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

form .inputBox input[type="submit"] {
    background: #2196f3;
    font-weight: 500;
    cursor: pointer;
}
